# Dependencies
node_modules
/vendor

# Next.js
/.next/
/out/
/build
.DS_Store
*.log

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/backend/config/env.php
